@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

html {
    font-size: 16px;
}


footer {
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}